html {
    background-color: beige;
}

/*body {*/
/*    opacity: 0;*/
/*}*/
.music {
    color: blue;
    border: none;
    position: fixed;
    background-color: moccasin;
    text-decoration-line: none;
    left: 80%;
    top: 70%;
    height: 5%;
    opacity: 75%;
}

.music:hover {
    text-decoration: underline;
}

#title, td {
    color: sandybrown;
    position: fixed;
    top: 17%;
}

#title {
    top: 5%;
    left: 50%;
}

#line {
    position: fixed;
    border-bottom: 2px solid sandybrown;
    top: 15%;
    left: 15%;
    width: 75%;
}

td {
    font-size: large;
}

video {
    position: fixed;
    border: none;
    top: 25%;
    height: 50%;
}

#video1 {
    left: 10%;
}

#video2 {
    top: 30%;
    left: 45%;
}

#video3 {
    left: 75%;
}


