#table {
    opacity: 0;
}

#title, .menu {
    color: sandybrown;
    position: fixed;
    top: 17%;
    text-align: center;
    margin: auto;
}

#title {
    top: 5%;
    margin: auto 50%;
}

#line {
    position: fixed;
    border-bottom: 2px solid sandybrown;
    top: 15%;
    left: 15%;
    width: 75%;
}

.menu {
    font-size: large;
}

.menu:hover {
    text-decoration: underline;
}

#about {
    left: 30%;
}

#menu {
    left: 45%;
}

#shop {
    left: 60%;
}

#contact {
    left: 75%;
}

video {
    position: fixed;
    border: none;
    top: 25%;
    height: 50%;
}

#video1 {
    left: 10%;
}

#video2 {
    top: 30%;
    left: 45%;
}

#video3 {
    left: 75%;
}

#musicButton {
    color: blue;
    border: none;
    position: fixed;
    background-color: moccasin;
    text-decoration: none;
    right: 5%;
    bottom: 22%;
    padding: 1% 2%;
    opacity: 75%;
}

#musicButton:hover {
    text-decoration: underline;
}