.loadSpinner {
    border: 16px solid lightgray;
    border-top: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s linear forwards;
    margin: 50%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}